<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>

    <nav>
      <ul>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/photos">Photos</a>
        </li>
      </ul>
    </nav>

  <h1>Photo Details</h1>

    <dt> 
      Image
    </dt>
      <dd> 
        <img src = <%= @the_photo.image %>>
      </dd>
    <dt> 
      Caption
    </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>
    <dt> 
      Owner
    </dt>
      <dd>
        <%= @the_photo.poster.username %>
      </dd>
    <dt> 
      Posted
    </dt>
      <dd>
        <%= @the_photo.created_at %>
      </dd>
    <dt> 
      Edit Photo
    </dt>
      <dd>
        <%#= @the_photo.caption %>
      </dd>
    <dt> 
      Delete Photo
    </dt>
      <dd>
        <%#= @the_photo.caption %>
      </dd>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>
